{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/article_list.css' %}">
{% endblock %}

{% block body %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
        {% for article in page_obj %}
          <tr>
            <th scope="row">{{ article.pk }}</th>
            <td><a class="text-decoration-none text-dark" href="{% url 'articles:article_detail' article.pk %}">{{ article.title }}[{{ article.comments.count }}]</a></td>
            <td>{{ article.author }}</td>
            <td>{{ article.created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  
    {% bootstrap_paginate page_obj range=5 show_prev_next="true" previous_label="prev" show_first_last="true" next_label="next" extra_pagination_classes="justify-content-center mt-5" %}
{% endblock %}
