{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/article_form.css' %}">
<link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
<script src="{% static 'js/article_like.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.author }} | {{ article.created_at }}</p>
    <hr>
    <p>{{ article.content }}</p>
    <hr>
    {% if request.user == article.author %}
        <form action="{% url 'articles:delete_article' article.pk %}" method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-grad text-white mx-2" href="{% url 'articles:update_article' article.pk %}" role="button">수정</a>
            <button class="btn btn-light">삭제</button>
            </div>
        </form>
    {% endif %}
    <div class="mb-2">
        {% if request.user in article.like_users.all %}
            <i data-article_pk="{{ article.pk }}" id="likeArticleButton" class="fas fa-heart mr-2 like-btn">좋아요 해제</i>
        {% else %}
            <i data-article_pk="{{ article.pk }}" id="likeArticleButton" class="fas fa-heart mr-2 like-btn">좋아요</i>
        {% endif %}
    </div>
    <div class="mb-4">
        <span>
            {% if article.like_users.count == 0 %}
                <span id="likeUsers{{ article.pk }}"></span>
            {% else %}
                {% for user in article.like_users.all %}
                    <span id="likeUsers{{ article.pk }}">{{ user.username }}</span>
                {% endfor %}
            {% endif %}
            님이 좋아합니다.
        </span>
    </div>
    <i class="far fa-comment comment-img"></i>
    <strong class="comment-count-info">댓글 {{ article.comments.count }}개</strong>
    {% for comment in article.comments.all|dictsortreversed:"created_at" %}
        <div class="d-flex justify-content-between mt-3">
            <div>
                <div class="mb-1">
                    <strong>{{ comment.author }}</strong>
                    <span class="text-option">{{ comment.created_at }}</span>
                </div>
                <p>{{ comment.opinion }}</p>
            </div>
            {% if request.user == comment.author %}
                <div class="dropdown mr-1">
                    <button type="button" class="btn btn-light dropdown-toggle comment-dropdown-img" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                      ...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <a class="dropdown-item" href="{% url 'articles:update_comment' article.pk comment.pk %}">수정</a>
                      <a class="dropdown-item" href="{% url 'articles:delete_comment' article.pk comment.pk %}">삭제</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="mt-4">
        <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            <div class="d-flex justify-content-end">
                <button class="btn btn-grad text-white">댓글</button>
                <a class="btn btn-light mx-2 btn-cancel" href="{% url 'articles:article_detail' article.pk %}" role="button">취소</a>
            </div>
        </form>
    </div>
{% endblock %}