{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'stylesheets/form.css' %}">
{% endblock %}

{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="float-right">
            <button class="btn btn-grad">제출</button>
            <a class="btn btn-danger" href="{% url 'articles:article_list' %}" role="button">취소</a>
        </div>
    </form>
{% endblock %}
