{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/article_form.css' %}">
{% endblock %}
{% block body %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="float-right">
            {% if request.path == "/articles/create/" %}
                <button class="btn btn-grad text-white">제출</button>
            {% else %}
                <button class="btn btn-grad text-white">수정</button>
            {% endif %}
            <a class="btn btn-light" href="{% url 'articles:article_list' %}" role="button">취소</a>
        </div>
    </form>
{% endblock %}
