{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/article_form.css' %}">
{% endblock %} 

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.author }} | {{ article.created_at }}</p>
    <hr>
    <p>{{ article.content }}</p>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        <div class="d-flex justify-content-end">
            <button class="btn btn-grad text-white">수정</button>
            <a class="btn btn-light mx-2" href="{% url 'articles:article_detail' article.pk %}" role="button">취소</a>
        </div>
    </form>
{% endblock %}