.option-text {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.card-height {
    height: 600px;
}

.profile-photo {
    font-size: 30px;
}

.comment-list {
    height: 400px; 
    overflow-y: scroll;
}

.comment-list::-webkit-scrollbar {
    display: none;
}

.photo-title {
    margin-left: 50px;
}

.photo-created {
    margin-left: 47px;
}

.photo-liked-heart {
    color: pink; 
    font-size: 23px; 
    cursor:pointer;
}

.photo-unliked-heart {
    color: black; 
    font-size: 23px; 
    cursor:pointer;
}

.photo-options {
    top: 40%;
}

.comment-form {
    width: calc(100% - 58px);
}

.comment-input {
    border: none;
}

.comment-opinion {
    margin-left: 50px; 
    margin-right: 50px;
}

.comment-info {
    margin-left: 47px;
}

.comment-button {
    margin-bottom: 16px;
    color: skyblue;
}

.comment-liked-heart {
    color: pink; 
    font-size: 15px;
    cursor: pointer;
}

.comment-unliked-heart {
    color: black; 
    font-size: 15px;
    cursor: pointer;
}

.comment-img {
    font-size: 23px;
}

.btn-close {
    color: gray;
    margin-bottom: 16px;
}

.btn-del {
    text-decoration: none;
} 